body{
    font-family: "Nunito", sans-serif;
}
.navbar{
    font-weight: 100;
    font-size: 1.5rem;
    transition: all 0.6s;
    transition-timing-function: ease-in;
}
.navbar{
    background-color: rgba(35, 245, 245, 0.5);
}
.navbar:hover{
    background-color: rgb(243, 204, 98);
}
.nav-link{
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    transition-timing-function: ease-in;
}
#mainnavbar .nav-link:hover{
    color: #EA1C2C;
}
#mainnavbar .navbar-brand{
    color: #EA1C2C;
}
.museum h1{
    font-size: 3rem;
    font-weight: 100;
    color: white;
}
.museum span{
    color: #EA1C2C;
}
@media (max-width:960px){
    .museum h1{
        font-size: 2rem;
        font-weight: 100;
        color: white;
    }
}
#second-content h2{
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.7rem;
}
#second-content p{
    color: #fa7bba;
    font-weight: 100;
}
.content{
    margin-bottom: 100px;
}
img{
    max-height: 40rem;
}
#facebook{
    color:white;
  }
  #youtube{
    color: white;
  }
  #twitter{
    color:white;
  }
  #instagram{
    color:white;
  }
  #facebook:hover{
    color: rgb(44, 166, 248);
    
  }
  #youtube:hover{
    color: red;
  }
  #twitter:hover{
    color: rgb(0, 195, 255);
  }
  #instagram:hover{
    color: rgba(255, 208, 0, 0.753);
  }