body{
    background:  #f5d9d5; 
    font-family: "Nunito", sans-serif;
}
.navbar{
    font-weight: 100;
    font-size: 1.5rem;
}
.navbar{
    background-color: rgba(180, 243, 243,0.5);
}
.navbar:hover{
    background-color: rgb(243, 204, 98);
}
.nav-link{
    color: white;
}
#mainnavbar .nav-link:hover{
    color: #EA1C2C;
}
#mainnavbar .navbar-brand{
    color: #EA1C2C;
}
.museum h1{
    font-size: 3rem;
    font-weight: 100;
    color: white;
}
.museum span{
    color: #EA1C2C;
}
@media (max-width:960px){
    .museum h1{
        font-size: 2rem;
        font-weight: 100;
        color: white;
    }
}
#second-content h2{
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.7rem;
}
#second-content p{
    color: #fa7bba;
    font-weight: 100;
}
.content{
    margin-bottom: 100px;
}
img{
    max-height: 40rem;
}