#sidebar{
    background: rgba(0, 83, 156, 0.849);
}
#main-content{
    background: rgba(238, 164, 127, 0.801);
}
h5{
    font-weight: 300;
    color: rgba(238, 164, 127, 0.801);
}
.list-group-item{
    background:rgba(0, 83, 156, 0);
    color:whitesmoke;
}
.list-group-item:hover{
    background:rgba(0, 83, 156, 0.685);
    color:whitesmoke;
}
.list-group-item a{
    text-decoration: none;
    color:whitesmoke;

}
.card h5{
    color:  rgba(0, 83, 156, 0.849);
    font-weight: 400;
}
#facebook{
    color:black;
}
#youtube{
    color: black;
}
#twitter{
    color:black;
}
#instagram{
    color:black;
}
#facebook:hover{
    color: rgb(44, 166, 248);
    
}
#youtube:hover{
    color: red;
}
#twitter:hover{
    color: rgb(0, 195, 255);
}
#instagram:hover{
    color: rgba(255, 208, 0, 0.753);
}