ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background: rgba(0, 163, 204, 0);
  }
  
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #000000FF;
    content: ">";
  }
ul.breadcrumb li a {
    color: #F95700FF;
    text-decoration: none;
  }
ul.breadcrumb li a:hover {
    color: #6bc4d4;
  }
#side{
    background: rgba(0, 31, 63, 0.733);
    font-weight: 100;
}
#maincontent{
    background: #ADEFD1FF;
}
h5{
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

body{
  font-family: "Nunito", sans-serif;
}
.navbar{
  font-weight: 100;
  font-size: 1.5rem;
}
.navbar{
  background-color: rgba(35, 245, 245, 0.5);
}
.navbar:hover{
  background-color: rgb(243, 204, 98);
}
.nav-link{
  color: rgb(0, 0, 0);
}
#mainnavbar .nav-link:hover{
  color: #EA1C2C;
}
#mainnavbar .navbar-brand{
  color: #EA1C2C;
}