@media (max-width: 768px){
  .form-control{
    width:60%;
  }
  
}
.center_div{
  margin : 0 auto;
  
}
.banner img{
  width: 100%;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.74, 0.54, 0.26, 1.11);
}
.banner img:hover{
  opacity: 0.6;
}
.container-fluid{
  padding: 0 0 !important;
}
.banner{
  background-color: black;
  position: relative;
  text-align: center;
  color: white;
  transition: font-size 2s;
  transition-timing-function: cubic-bezier(0.74, 0.54, 0.26, 1.11);
}
.text-top {
  position: absolute;
  bottom: 350px;
  left: 16px;
}
.lower-text{
  position: absolute;
  bottom: 275px;
  left: 32px;
}

.banner:hover{

  font-size: 3.6rem;
}
.gallery img{
  float: left;
  width: 30%;
  padding: 1px;
  margin: 1.5%;
  border: 1px rgba(245, 66, 35, 0.726) dotted;
}
.review-picture{
  background-color: rgb(240, 255, 255 );
  opacity: 0.6;
  transition: opacity 0.8s;
  transition-timing-function: ease-in;
}
.review-picture:hover{
  opacity:1;
}
.wcu{
  padding-left: 50px !important;
}
#facebook{
  color:white;
}
#youtube{
  color: white;
}
#twitter{
  color:white;
}
#instagram{
  color:white;
}
#facebook:hover{
  color: rgb(44, 166, 248);
  
}
#youtube:hover{
  color: red;
}
#twitter:hover{
  color: rgb(0, 195, 255);
}
#instagram:hover{
  color: rgba(255, 208, 0, 0.753);
}
.footer{
  padding: 0 0 !important;
  margin: 0 0 !important;
  overflow: hidden;
}
body{
  font-family: "Nunito", sans-serif;
}
.navbar{
  font-weight: 100;
  font-size: 1.5rem;
}
.navbar{
  background-color: rgba(180, 243, 243,0.5);
}
.navbar:hover{
  background-color: rgb(243, 204, 98);
}
.nav-link{
  color: rgb(255, 255, 255);
}
#mainnavbar .nav-link:hover{
  color: #EA1C2C;
}
#mainnavbar .navbar-brand{
  color: #EA1C2C;
}