#mainform{
  font-family: 'Farsan', cursive;
  font-size: 1.35rem;
}
.container{
  background-color: #99A3A4 ;
}
@media (max-width: 768px){
  .form-control{
    width:75%;
    margin : 0 auto;
  }
 .btn{
     width: 70%;
 } 
}
.center_div{
  margin : 0 auto;
  width: 60%;
}
body{
  font-family: "Nunito", sans-serif;
}
.navbar{
  font-weight: 100;
  font-size: 1.5rem;
  transition: all 0.6s;
  transition-timing-function: ease-in;
}
.navbar{
  background-color: rgba(35, 245, 245, 0.5);
}
.navbar:hover{
  background-color: rgb(243, 204, 98);
}
.nav-link{
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  transition-timing-function: ease-in;
}
#mainnavbar .nav-link:hover{
  color: #EA1C2C;
}
#mainnavbar .navbar-brand{
  color: #EA1C2C;
}
#facebook{
  color:white;
}
#youtube{
  color: white;
}
#twitter{
  color:white;
}
#instagram{
  color:white;
}
#facebook:hover{
  color: rgb(44, 166, 248);
  
}
#youtube:hover{
  color: red;
}
#twitter:hover{
  color: rgb(0, 195, 255);
}
#instagram:hover{
  color: rgba(255, 208, 0, 0.753);
}