.cart-content ul{
    list-style-type: none;

}
.cart-content li{
    margin: 5px auto;
}

.cart-content, .cart-content h2{
    margin:10px auto;
}
.boxed{
    border: 2px solid black;
    padding: 1px 10px;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
#exp-date{
	width: 10rem;
}
.non-cart-area{
	padding:5px 10px;
}
body{
    font-family: "Nunito", sans-serif;
}
.navbar{
    font-weight: 100;
    font-size: 1.5rem;
    transition: all 0.6s;
    transition-timing-function: ease-in;
}
.navbar{
    background-color: rgba(35, 245, 245, 0.5);
}
.navbar:hover{
    background-color: rgb(243, 204, 98);
}
.nav-link{
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    transition-timing-function: ease-in;
}
#mainnavbar .nav-link:hover{
    color: #EA1C2C;
}
#mainnavbar .navbar-brand{
    color: #EA1C2C;
}
.jumbotron{
    
    background-image: url(https://images.pexels.com/photos/236910/pexels-photo-236910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350&w=940) !important;
}
.jumbotron h1{
        color: white;
    }