body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
  
h2 {
font-family: 'Nunito' , sans-serif;
font-size: 24px;
margin-top: 40px;
color: #333;
opacity: 0;
}
h3{
font-family: 'Nunito' , sans-serif;
font-size: 24px;
margin-top: 40px;
color: #333;
opacity: 0;
}
h2,h3 {
animation: .6s title ease-in-out;
animation-delay: 1.2s;
animation-fill-mode: forwards;
}

.circle {
stroke-dasharray: 1194;
stroke-dashoffset: 1194;
}

svg .circle {
animation: circle 1s ease-in-out;
animation-fill-mode: forwards;
}

.tick {
stroke-dasharray: 350;
stroke-dashoffset: 350;
}

svg .tick {
animation: tick .8s ease-out;
animation-fill-mode: forwards;
animation-delay: .95s;
}

@keyframes circle {
from {
    stroke-dashoffset: 1194;
}
to {
    stroke-dashoffset: 2388;
}
}

@keyframes tick {
from {
    stroke-dashoffset: 350;
}
to {
    stroke-dashoffset: 0;
}
}

@keyframes title {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
body{
    font-family: "Nunito", sans-serif;
}
.navbar{
    font-weight: 100;
    font-size: 1.5rem;
    transition: all 0.6s;
    transition-timing-function: ease-in;
}
.navbar{
    background-color: rgba(35, 245, 245, 0.5);
}
.navbar:hover{
    background-color: rgb(243, 204, 98);
}
.nav-link{
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    transition-timing-function: ease-in;
}
#mainnavbar .nav-link:hover{
    color: #EA1C2C;
}
#mainnavbar .navbar-brand{
    color: #EA1C2C;
}