#breadcrumb li{
    
    display: inline;
}
#breadcrumb li a{
    text-decoration: none;
    color: black;
}
#breadcrumb li a:hover{
    text-decoration: none;
    color: rgb(116, 114, 114);
}
#main-image{
    width: 27rem;
}
.smaller-images{
    
    width: 6rem;
}
#stars{
    color: grey;
}
#prod-price{
    font-size: 1.2rem;
    font-weight: 400;
}
.boxed{
    border: 2px solid black;
    padding: 1px 10px;
}
.btn-red:hover{
    background-color: rgb(243, 76, 46) ;
}
.btn-pink:hover{
    background-color: rgb(255, 162, 224) ;
}
.btn-white:hover{
    background-color: rgba(255, 237, 234, 0.767) ;
    color:#000;
}
#youtube{
    color:black;
}
#youtube:hover{
    color: #EA1C2C;
}
#twitter{
    color:black;
}
#instagram{
    color:black;
}
#facebook{
    color: #000;
}
#facebook:hover{
    color: rgb(44, 166, 248);
    
}
#twitter:hover{
    color: rgb(0, 195, 255);
}
#instagram:hover{
    color: rgba(255, 208, 0, 0.753);
}
#tiktok:hover{
    color:rgba(255, 0, 119, 0.685);
}
#gplus:hover{
    background-color:red;
    color: white;
}
body{
    font-family: "Nunito", sans-serif;
}
.navbar{
    font-weight: 100;
    font-size: 1.5rem;
    transition: all 0.6s;
    transition-timing-function: ease-in;
}
.navbar{
    background-color: rgba(35, 245, 245, 0.5);
}
.navbar:hover{
    background-color: rgb(243, 204, 98);
}
.nav-link{
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    transition-timing-function: ease-in;
}
#mainnavbar .nav-link:hover{
    color: #EA1C2C;
}
#mainnavbar .navbar-brand{
    color: #EA1C2C;
}
div{
    margin: 20px auto;
}
div nav{
    margin:0 0;
}